@import '../../Utilities/colors';

.navBar {
    height: 8vh;
    background-color : $primary-color;

    .navButton {
        text-decoration: none !important;
        font-size: 1.25em !important;
        color: $tertiary-color;
        padding-top: 0.25em;
        border: solid 3px transparent;

        &:hover {
            color: $secondary-color !important;
        }
        
        &:focus {
            border: dashed 3px $secondary-color;
            box-shadow: none;
        }

        .buttonIndex {
            color: $secondary-color;
            padding: 1mm;
        }

    }
}


