@import '../../Utilities/colors';

.navBar {
    height: 8vh;
    background-color : $primary-color;

    .navButton {
        text-decoration: none !important;
        font-size: 1.25em !important;
        color: $yellow;
        margin: 0.25em;
        border: solid 3px transparent;
        &:hover {
            color: $orange !important;
        }
        &:focus {
            border: dashed 3px $orange;
            box-shadow: none;
        }

        .buttonIndex {
            color: $orange;
            margin: 1mm;
        }

    }
}


