@import '../../../Utilities/colors';

.contactCon {
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom:0;
    overflow-x:hidden;
    align-items: center;
    justify-content: flex-start;

    .contactHeader {
        width: 60%;
        margin-bottom: 2rem;
        border-bottom: solid 1px $secondarytext-color;
        padding-bottom: 1rem;

        h2 {
            display: inline;
            color: $text-color;
        }

        h4 {
            display: inline;
            color: $secondary-color;
        }
    }

    .contactInfo {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: $secondarytext-color;
        }

        h4 {
            color: $tertiary-color;
            text-align: center;
            width: 60%;
        }

        .contactButton {
            padding: 1rem 1.75rem;
            text-decoration: none !important;
            color: $secondary-color;
            margin-top: 2rem;
            border: solid 2px $secondary-color;
            border-radius: 6px;

            &:hover {
                background-color: $button-shade;
                color: $tertiary-color;
            }
        }
    }
}