@import '../../../Utilities/colors';

.resumeCon {
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom:0;
    overflow-x:hidden;
    align-items: center;
    justify-content: flex-start;

    .resumeHeader {
        width: 60%;
        margin-bottom: 2rem;
        border-bottom: solid 1px $secondarytext-color;
        padding-bottom: 1rem;

        h2 {
            display: inline;
            color: $text-color;
        }

        h4 {
            display: inline;
            color: $secondary-color;
        }
    }

    .resumeContent {
        margin-bottom: 3rem;

        h2 {
            color: $secondary-color;

            a {
                text-decoration: none;
                color: $tertiary-color;
                padding-left: 1rem;
            }
        }
    }

    .resumeHolder {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 550px) {
    .resumeCon {
        position: relative;

        .resumeHeader {
            width: 80%;
        }

        .resumeContent {
            position: sticky;
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}

@media only screen and (min-width: 551px) and (max-width: 799px) {
    .resumeCon {

        .resumeContent {
            position: sticky;
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}