@import '../../../Utilities/colors';

.resumeCon {

    .resumeRow {
        display: flex;
        align-items: center;
        z-index: 10;

        .resumeCol {
            margin-top: 7rem;

            .resumeHeader {
                margin-bottom: 2rem;
                border-bottom: solid 1px $secondarytext-color;
                padding-bottom: 1rem;

                h2 {
                    display: inline;
                    color: $text-color;
                }
    
                h4 {
                    display: inline;
                    color: $secondary-color;
                }
            }
        }
    }
}