@import '../../../Utilities/colors';

.expCon {
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom:0;
    overflow-x:hidden;
    align-items: center;
    justify-content: flex-start;

    .expHeader {
        width: 60%;
        margin-bottom: 2rem;
        border-bottom: solid 1px $secondarytext-color;
        padding-bottom: 1rem;

        h2 {
            display: inline;
            color: $text-color;
        }

        h4 {
            display: inline;
            color: $secondary-color;
        }
    }

    .expTimeline {
        width: 60%;
        flex: 100%;
    }
}
