@import '../../Utilities/colors';

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    .footerCol {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        a {
            text-decoration: none;
        }

        .sitesCol {
            display: block;
            text-align: center;
            margin: 0.5rem;

            &:hover {
                border: dashed 3px $orange;
            }

            .socialIcon {
                min-width: 1.5rem;
                overflow:hidden;
                width: 2rem;
                margin: 1rem;
                color: $yellow;

                &:hover {
                    color: $orange;
                    cursor: pointer;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    -webkit-animation-iteration-count: infinite;
                    animation-name: bounce;
                    -moz-animation-name: bounce;
                }
            }
        }

        .leftFooter, .rightFooter {
            display: flex;
            justify-content: center;

            .vLine {
                width: 0;
                height: 7vh;
                border: 1px inset $yellow;
            }
        }
    }

    .leftCol {
        padding-left: 0;
        padding-right: 3rem;
    }

    .rightCol {
        padding-right: 0;
        padding-left: 3rem;
    }
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}