@import '../../../Utilities/colors';

.about {

    .aboutRow {
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 10;

        .aboutCol {
            margin-top: 7rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .aboutSection {

            div {
                margin-bottom: 2rem;
                border-bottom: solid 1px $secondarytext-color;
                padding-bottom: 1rem;

                h2 {
                    display: inline;
                    color: $text-color;
                }
    
                h4 {
                    display: inline;
                    color: $secondary-color;
                }
            }

            h5 {
                margin-bottom: 2rem;
                color: $tertiray-color;
            }
        }

        .skillCol {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                color: $text-color;
                border-bottom: solid 1px $secondarytext-color;
                padding-bottom: 1rem;
            }

            div {

                ul {
                    columns: 40vh;
                    color: $tertiray-color;

                    li::marker {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}