@import '../../../Utilities/colors';

@mixin layout($width: 80%, $imgPadding: 10rem) {
    .aboutSection {
        width: $width !important;
        display: flex !important;
        flex-direction: column !important;
        
        .aboutContent {
            order: 1;
            flex: 100% !important;
            height: 100vh;
        }
    
        .aboutImg {
            order: 0;
            flex: 100% !important;
            height: 100vh;
            padding-top: $imgPadding !important;
        }
    }

    .skillSection {
        width: $width !important;
    }
}

.about {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom:0;
    overflow-x:hidden;
    align-items: center;
    justify-content: center;

    .aboutSection {
        width: 60%;
        flex: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .aboutContent {
            flex: 60%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            .aboutHead {
                margin-bottom: 2rem;
                border-bottom: solid 1px $secondarytext-color;
                padding-bottom: 1rem;

                h2 {
                    display: inline;
                    color: $text-color;
                }
    
                h4 {
                    display: inline;
                    color: $secondary-color;
                }
            }

            .aboutData {
                h5 {
                    margin-bottom: 2rem;
                    color: $tertiary-color;
                }
            }
        }

        .aboutImg {
            flex: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .skillSection {
        height: auto;
        width: 60%;
        flex: 100%;
        display: flex;
        flex-direction: column;

        .skills {

            h2 {
                color: $text-color;
                border-bottom: solid 1px $secondarytext-color;
                padding-bottom: 1rem;
            }

            .list {
                columns: 30vh;
                color: $tertiary-color;

                li::marker {
                    color: $secondary-color;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    @include layout($width: 60%);
}

@media only screen and (min-width: 480px) and (max-width: 799px){
    @include layout($width: 60%, $imgPadding: 30rem);
}

@media (min-width: 800px) and (max-width: 991px){
    @include layout($imgPadding: 7rem);
    
}

@media (min-width: 992px) and (max-width: 1281px){
    @include layout;
}