@import '../../../Utilities/colors';

.workCon {
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom:0;
    overflow-x:hidden;
    align-items: center;
    justify-content: flex-start;

    .workHeader {
        width: 60%;
        margin-bottom: 2rem;
        border-bottom: solid 1px $secondarytext-color;
        padding-bottom: 1rem;

        h2 {
            display: inline;
            color: $text-color;
        }

        h4 {
            display: inline;
            color: $secondary-color;
        }
    }

    .workModal {
        width: 60%;
    }
}

.modalElement {
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    justify-content: space-between;
}