@import '../../../Utilities/colors';

.workCon {
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom:0;
    overflow-x:hidden;
    align-items: center;
    justify-content: flex-start;

    .workHeader {
        width: 60%;
        margin-bottom: 2rem;
        border-bottom: solid 1px $secondarytext-color;
        padding-bottom: 1rem;

        h2 {
            display: inline;
            color: $text-color;
        }

        h4 {
            display: inline;
            color: $secondary-color;
        }
    }

    .workModal {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.modalElement {
    margin: 5px !important;
    flex: 1 1 30%;

    .modalHeader, .modalBody, .modalFooter {
        color: $primary-color;
        background-color: $secondarytext-color;
    }

    .modalBody {
        min-height: 12rem;
    }

    .folderSvg {
        width: 2.75rem;
        height: 100%;
        color: $secondary-color;
        stroke-width: 1.5px;
    }

    a {
        text-decoration: none;
        color: $secondary-color;

        .githubSvg {
            width: 2rem;
            height: 100%;
        }

        &:hover {
            color: $secondary-color;
            cursor: pointer;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            animation-name: bounce;
            -moz-animation-name: bounce;
        }
    }
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}